global:
  imageRegistry: ""
replicaCount: 1

# configSecretWatcher enables dynamic configuration loading from a secret.
# When enabled, the operator will start and become Ready immediately, then
# watch for the config secret to be created (e.g., by a post-install hook).
# This allows `helm install --atomic` to succeed even when the secret is
# created after the operator deployment.
configSecretWatcher:
  enabled: true
  # secretName is the name of the secret to watch for configuration
  secretName: "tyk-operator-conf"
  # secretNamespace is the namespace of the config secret (defaults to release namespace)
  secretNamespace: ""

# envFrom loads environment variables from secrets/configmaps at pod startup.
# NOTE: When configSecretWatcher.enabled is true, this should NOT include the
# tyk-operator-conf secret as it will be loaded dynamically instead.
envFrom: []
  # Legacy behavior (not recommended with --atomic):
  # - secretRef:
  #     name: tyk-operator-conf

envVars:
  - name: TYK_HTTPS_INGRESS_PORT
    value: "8443"
  - name: TYK_HTTP_INGRESS_PORT
    value: "8080"
    # The license key can also be added as an environment variable, but it is not recommended.
# - name: TYK_OPERATOR_LICENSEKEY
#   value: "{YOUR_LICENSE_KEY}"

image:
  repository: tykio/tyk-operator
  pullPolicy: IfNotPresent
  tag: "v1.2.0"
# specify imagePullSecrets for ServiceAccount
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
# extraVolumes is a list of volumes to be added to the pod
# extraVolumes:
#   - name: ca-certs
#     secret:
#       secretName: ca-certs
#   - name: ca-certs
#     configMap:
#       name: custom-ca-configmap
extraVolumes: []
# extraVolumeMounts is a list of volume mounts to be added to the pod
# extraVolumeMounts:
#   - name: ca-certs
#     mountPath: /etc/ssl/certs/your-cert.pem
#     subPath: your-cert.pem
#     readOnly: false
extraVolumeMounts: []
# healthProbePort identifies the port the Controller Manager will listen on. Used by liveness and readiness probes
healthProbePort: 8081
# metricsPort identifies the port on which Tyk Operator metrics are served
metricsPort: 8080
# secureMetrics configures metrics endpoint. If set to true, endpoint is served securely.
secureMetrics: true
annotations: {}
podAnnotations: {}
podSecurityContext:
  allowPrivilegeEscalation: false
resources: {}
nodeSelector: {}
# tolerations for manager pod assignment
tolerations: {}
# affinity for manager pod assignment
affinity: {}
hostNetwork: false
# rbac specifies necessary resources for kube-rbac-proxy container
rbac:
  resources: {}
  # specify custom/internal repo name for kube-rbac-proxy container
  image:
    repository: gcr.io/kubebuilder/kube-rbac-proxy
    pullPolicy: IfNotPresent
    tag: "v0.15.0"
  port: 8443
# serviceMonitor decides deploying ServiceMonitor if Prometheus Operator scrapes /metrics.
# By default it is set to false and set it to true to enable deploying Service Monitor.
# Tyk Operator publishes a collection of performance metrics for each controller.
# These metrics can be scraped by Prometheus Operator, by deploying ServiceMonitor resource.
serviceMonitor: false
webhooks:
  enabled: true
  # identifies the port on which webhooks are handled
  port: 9443
  annotations: {}
  tls:
    useCertManager: true
    # The name of the secret which should contain the TLS certificate you want to use with the webhook
    secretName: webhook-server-cert
    # certificatesMountPath corresponds to the mount path of the secret.
    certificatesMountPath: "/tmp/k8s-webhook-server/serving-certs"
